-# app/views/span/services/_form.html.haml

= form_for object, url: update_seo_settings_service_path(object), html: { multipart: true, autocomplete: :off, class: "form" } do |f|
  %fieldset.formBox
    .formItem.formWrap12
      %legend Title
      = f.text_field :seo_title

    .formItem.formWrap12
      %legend Description
      = f.text_area :seo_description, class: "small"

    .formItem.formWrap12
      %legend Tags
      = f.text_field :seo_tags

    -# Closing Wrap
    .wrap
      .formItem.formWrap02
        = submit_tag "Save"
