-# app/views/span/billboards/_form.html.haml

= form_for object, html: {multipart: true, autocomplete: :off, class: "form"} do |f|
  %fieldset.formBox
    .formItem.formWrap12
      %legend
        Title
        %i *
      = f.text_field :title

    .formItem.formWrap12
      %legend Description
      = f.text_area :description, class: "small"

    .formItem.formWrap06
      %legend Path
      = f.text_field :path

    .formItem.formWrap06
      %legend Name Path
      = f.text_field :namepath

    -# Closing Wrap
    .wrap
      .formItem.formWrap02
        = submit_tag "Save"

      .formItem.formWrap02
        %legend Status
        = f.check_box :published
        %p.label Published

      - unless object.imagebox.blank?
        .formItem.formWrap02
          %legend Image
          = link_to "", object.imagebox_url, "data-lightbox" => object.imagebox, class: "filePreview"
          = f.check_box :remove_imagebox
          %p.label
            %small Delete?

      .formItem.formWrap05
        %legend Imagebox
        .fileUpload
          = f.file_field :imagebox, class: "upload"
        %p.fileFormat Formats: jpg, jpeg, png & gif

      .formItem.formWrap12
        %p.note
          %i * Required Fields
