-# app/views/span/design/grid.html.haml

%h1 The Grid

.grid.medium
  .gridBox

    -# Start Item
    .gridItem
      .top.cbp
        %h6.active Active
        = link_to "Drag Me", "#", class: "handle"
      .middle.ctpH
        = image_tag "http://placehold.it/350x150"

    -# Start Item
    .gridItem
      .top.cbp
        %h6.active Active
        = link_to "Drag Me", "#", class: "handle"
      .middle.ctpH
        = image_tag "http://placehold.it/350x150"

    -# Start Item
    .gridItem
      .top.cbp
        %h6.active Active
        = link_to "Drag Me", "#", class: "handle"
      .middle.ctpH
        = image_tag "http://placehold.it/350x150"

    -# Start Item
    .gridItem
      .top.cbp
        %h6.active Active
        = link_to "Drag Me", "#", class: "handle"
      .middle.ctpH
        = image_tag "http://placehold.it/350x150"
