-# app/views/span/design/list.html.haml

%h1 The List

.list.small
  .listBox

    -# Start Item
    .listItem
      .top.cbp
        %h6.active Active
        = link_to "Drag Me", "#", class: "handle"
      .middle.ctpQ
        = link_to "Fringilla Tortor Vulputate Nullam Justo", "#"
    -# Start Item
    .listItem
      .top
        %h6.active Active
        = link_to "Drag Me", "#", class: "handle"
      .middle
        = link_to "Fringilla Tortor Vulputate Nullam Justo", "#"
    -# Start Item
    .listItem
      .top
        %h6.active Active
        = link_to "Drag Me", "#", class: "handle"
      .middle
        = link_to "Fringilla Tortor Vulputate Nullam Justo", "#"
