-# app/views/blocks/span/_applications_menu.html.haml

.applicationsMenu.displayHidden
  .applicationsMenuBox
    .applicationsMenuList
      = link_to image_tag("span/applications/applicationIcon.png") + "Biography", span.biography_path
    .applicationsMenuList
      = link_to image_tag("span/applications/applicationIcon.png") + "Services", span.services_path
    .applicationsMenuList
      = link_to image_tag("span/applications/applicationIcon.png") + "Timelines", span.timelines_path
    .applicationsMenuList
      = link_to image_tag("span/applications/applicationIcon.png") + "Contacts", span.contacts_path
    .applicationsMenuList
      = link_to image_tag("span/applications/applicationIcon.png") + "Billboards", span.billboards_path
    .applicationsMenuList
      = link_to image_tag("span/applications/applicationIcon.png") + "Networks", span.networks_path
