-# app/views/span/timelines/_form.html.haml

= form_for object, html: { multipart: true, autocomplete: :off, class: "form" } do |f|
  %fieldset.formBox
    .formItem.formWrap12
      %legend
        Title
        %i *
      = f.text_field :title

    .formItem.formWrap12
      %legend
        Description
      = f.text_area :description, class: "small"

    .formItem.formWrap12
      %legend
        Body
        .markdownActions
          .markdownActionsBox
            -# .markdownActionsList
              = link_to "Help", "#", class: "off help"
            - if params[:action] == "edit"
              .markdownActionsList
                = link_to "Preview", span.preview_timeline_path, class: "markdownPreview"
      = f.text_area :body, class: "editable autosize", placeholder: "Click & start writing here..."

    .formItem.formWrap04
      %legend Highlight
      = f.check_box :highlight
      %p.label Active

    .formItem.formWrap04
      %legend
        Start
      = f.text_field :start

    .formItem.formWrap04
      %legend
        End
      = f.text_field :end

    -# Closing Wrap
    .wrap
      .formItem.formWrap02
        = submit_tag "Save"

      .formItem.formWrap02
        %legend Status
        = f.check_box :published
        %p.label Published

      - unless object.imagebox.blank?
        .formItem.formWrap02
          %legend Image
          = link_to "", object.imagebox_url, "data-lightbox" => object.imagebox, class: "filePreview"
          = f.check_box :remove_imagebox
          %p.label
            %small Delete?

      .formItem.formWrap05
        %legend Imagebox
        .fileUpload
          = f.file_field :imagebox, class: "upload"
        %p.fileFormat Formats: jpg, jpeg, png & gif

      .formItem.formWrap12
        %p.note
          %i * Required Fields
